(
    dark_threads: 6,

    server_port: Some(3000),

    updates: [
        LongPollUpdate(
            token: "...",
        ),

    ],

    route: AllLB(
        routes: [
            LongPollRoute(
                path: "/bot1/getUpdates"
            ),

            WebhookRoute(
                url: "http://127.0.0.1:3001/bot"
            ),

            LongPollRoute(
                path: "/bot2/getUpdates"
            ),
        ]
    )

)