(
    dark_threads: 6,

    server_port: Some(3000),

//    ssl: Some(SslConfig(
//    	cert: "/etc/letsencrypt/live/chesnocode.com/cert.pem",
//   	key: "/etc/letsencrypt/live/chesnocode.com/privkey.pem"
//    )),

    updates: [
        LongPollUpdate(
            token: "${TOKEN}",
        ),
//        WebhookUpdate(
//            path: "/bot/pull"
//        )

    ],

    route: RoundRobinLB(
        routes: [
            LongPollRoute(
                path: "/bot1/getUpdates"
            ),


            LongPollRoute(
                path: "/bot2/getUpdates"
            ),
        ]
    )

)