(
    dark_threads: 4,
    server_port: Some(3000),

    updates: [
        WebhookUpdate(path: "/webhook")
    ],

    route: RoundRobinLB(
        routes: [
            WebhookRoute(url: "http://10.5.0.11:8080/webhook"),
            WebhookRoute(url: "http://10.5.0.12:8080/webhook"),
        ]
    )
)